<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>录入学生信息</title> 
    <link rel="stylesheet" href="../../css/style.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/student.css">
    <script src="../../js/lib/jquery.min.js"></script>
    <script src="../../js/lib/vue.js"></script>
    <script src="../../js/lib/axios.min.js"></script>
    <script src="../../js/pops.js"></script>
</head>
<body>
    <div class="root" id="root">
        <div class="center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active"><a href="../../index.html">主页</a></li>
                    <li class="breadcrumb-item active"><a href="index.html">学生端</a></li>
                    <li class="breadcrumb-item active" aria-current="page">注册</li>
                </ol>
            </nav>
            <h3>考生信息注册</h3>
            <form class="item_zf" id="center">
                <div class="item">
                    <label for="name">姓名 :</label>
                    <input type="text" id="name" class="form-control" v-model="name">
                </div>
                <div class="item">
                    <label for="sex">性别 :</label>
                    <input class="radio_type" type="radio" name="sex" id="sex_boy" value="男" v-model="sex"/> <label for="sex_boy">男</label>
                    <input class="radio_type" type="radio" name="sex" id="sex_gril" value="女" v-model="sex"/> <label for="sex_gril">女</label>
                </div>
                <div class="item">
                    <label for="number">身份证 :</label>
                    <input type="text" id="number" class="form-control" v-model="number">
                </div>
                <div class="item">
                    <label for="birthday">生日 :</label>
                    <input type="date" id="birthday" class="form-control" v-model="birthday">
                </div>
                <div class="item">
                    <label for="province">省份 :</label>
                    <input type="text" id="province" class="form-control" v-model="province">
                </div>
                <div class="item">
                    <label for="numberP">电话号 :</label>
                    <input type="text" id="numberP" class="form-control" v-model="numberP">
                </div>
                <div class="item">
                    <label for="password" >密码 :</label>
                    <input type="password" id="password" class="form-control" v-model="password">
                </div>
                <div class="item">
                    <label for="password1" style="font-size: 19px;">确认密码:</label>
                    <input type="password" id="password1" class="form-control" v-model="password1">
                </div>
                <div class="item">
                    <label for="education">学历 :</label>
                    <select id="education" class="form-control form-control-lg" style="height: 40px;font-size: 16px;" v-model="education">
                        <option value="NULL" selected>请选择学历</option>
                        <option value="大专">大专</option>
                        <option value="本科">本科</option>
                        <option value="研究生">研究生</option>
                        <option value="博士">博士</option>
                    </select>
                </div>
                <div class="item">
                    <label for="profession">专业 :</label>
                    <select id="profession" class="form-control form-control-lg" style="height: 40px;font-size: 16px;" v-model="profession">
                        <option value="NULL" selected>请选择专业</option>
                        <option value="行政">行政</option>
                        <option value="法律">法律</option>
                        <option value="财经">财经</option>
                    </select>
                </div>
                <div class="pops_z" style="width: 100%;">
                    <button type="button" class="btn btn-primary" id="submin" style="width: 20%;" @click="submit">注册</button>
                    <div class="pops_f" style="width: 80%;">
                        <div id="pops"></div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</body>
    <script src="../../js/address.js"></script>
    <script src="../../js/app/student/studentIn.js"></script>
</html>